# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/Frontend/.DS_Store
/Frontend/node_modules
/Frontend/dist

# local env files
/Frontend/.env.local
/Frontend/.env.*.local

# Log files
/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*

# Editor directories and files
/Frontend/.idea
/Frontend/.vscode
/Frontend/*.suo
/Frontend/*.ntvs*
/Frontend/*.njsproj
/Frontend/*.sln
/Frontend/*.sw?

/Backend/config.ini